*{
    margin:0;
    padding:0;
    border:0;
}
.titulo{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.foto{
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    margin: 80px;
    background-color: beige;
    border: solid;
    
}
body{
    width: 100%;
    margin:20px;
    padding: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-position: center;
    border: solid;
}
.espaciado{
    margin: 20px;
    padding: 20px;
    
}
.portafolio{
    display: flex;
}
footer{
    background-color: rosybrown;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: small;
}
.seccion1{
    background-color: gray;
    
}
.seccion2{
    background-color: beige;
}
.seccion3{
    background-color: gray;
}
.seccion4{
    background-color: beige;
}
    



